doctype html 
html(lang = 'ru')
    head 
        link(rel="stylesheet", href="style2.css")
        meta(charset = 'UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="logo.png", type="image/x-icon")
        title Крестики-нолики Online/Время поиграть!

    body
        header
            h1#navigation.header Крестики-нолики Online

        main 
            h1 
                span User1
                | VS 
                span User2


                
            p Твой ход/Ход соперника
            table
                tr
                    td 
                    td 
                    td 
                tr
                    td 
                    td 
                    td 
                tr
                    td 
                    td 
                    td 

            button Выйти/Сдаться

script(src="game.js") 

        
        